$primary-grey: #4F4F4F;
$primary-greyC: #828282;
$primary-greyM: #B5B5B5;

$secondary-gold: #FFD700;

$white-normal: #fff;
$white-dark: #edeaef;
$white-light: #fefbff;

$red-normal: #d94140;
$red-dark: #b42b2b;
$red-light: #d34040;



